<div class="container-fluid" id="home">
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <h4 class="mt-5">Your career grwoth matter to us.</h4>
            </div>
            <div class="row">
                <h1 class="getbrighter">Get Brighter Career
                from India's Best</h1> 
            </div>
        </div>
        <div class="col-md-6">
         <div class="row">
            <div class="row">
                <p>Book a Free Demo Class</p>
            </div>
            <form action="/" method="post">
            <div class="col-md-6">
             <div class="row">
            <div class="col-md-6">
                <div class="row">
                <label for="firstname">
                    <div class="row">
                  First Name
                 <input type="text" name="firstname" id="firstname" required>
                    </div>
                </label>
                    </div>
                </div>
            <div class="col-md-6">
                <div class="row">
                <label for="lastname">
                    <dir class="row ms-3">
                Last Name
                 <input type="text" name="lastname" id="lastname" required>
                    </dir>
                   
                </label>
                    </div>
                </div>
                <div class="row">
                    <label for="mobileno">
                        <div class="row">
                    Moblie
                     <input type="text" name="mobileno" id="mobileno" required>
                        </div>
                    </label>
                </div>
                <div class="row">
                    <label for="emailid">
                        <div class="row">
                    Email 
                     <input type="email" name="emailid" id="emailid" required>
                        </div>
                    </label>
                </div>
                <div class="row">
                    <label for="yourmessage">
                    <div class="row">
                    Your Message 
                    <textarea name="yourmessage" name="yourmessage" id="yourmessage" cols="2" rows="4" required></textarea>
                        </div>
                    </label>
                </div>
               <button class="mt-4 submit" type="submit">Submit here</button>
             
             </div>
             </div>
            
            
            
            
            </form>
         </div>

        </div>
    </div>
</div>