<div class="container-fluid mt-5" id="about">
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <img class="rounded" src="../Image/ai.jpeg" alt="">
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <h2>Commited To Excellence Training and Career</h2>
                 <p>The rapid advancement of technology has made Animation, VFX & games available to the masses, and this industry has become one of the fastest growing segments in the global media and entertainment market.</p>
                <p>While presenting the Union Budget 2022 this week, Finance Minister Nirmala Sitharam announced the plans to set up an Animation, Visual Effects, Gaming, and Comics (AVGC) promotion task force. It is aimed to “recommend ways to realise” the ability to create jobs and “build domestic capacity” for fulfilling the growing demand in India and around the globe, she noted. Stakeholders have welcomed the move and are looking forward to seeing the government’s participation in growing the AVGC sector in the country.</p>
                </div>
                    
        </div>
    </div>
</div>