<h3 class="text-center mt-5" id="courses">Our Courses</h3>
<p class="text-center">
Through our courses, Students can become professionals and build a career in Media and Entertainment industry.</p>
<p class="text-center">
We Provide 100% placement assurance with all career courses.
</p>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="row">
                <img src="../Image/005.jpg" alt="">
            </div>
            <div class="row">
                <h4 class="text-center fw-semibold">Vfx Film Making</h4>
                <p class="text-center">Filmmakers began to experiment with Visual effects almost as soon as motion pictures were invented. The history of Visual effects is the history of motion pictures. </p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <img src="../Image/visual.jpg" alt="">
            </div>
            <div class="row">
                <h4 class="text-center fw-semibold">Game Development</h4>
                <p class="text-center">Bring your vision of exciting characters, creatures and environment to life in next-generation, interactive gaming environments. As a game designer you will plan and execute all the aspects of the game and bring it to life. </p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <img src="../Image/web.png" alt="">
            </div>
            <div class="row">
                <h4 class="text-center fw-semibold">UI and UX Designing</h4>
                <p class="text-center">It is a course of Designing of print and web graphics with designing of UI and UX which is widely demanding in the industry now.</p>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-4">
            <div class="row">
                <img src="../Image/film.jpg" alt="">
            </div>
            <div class="row">
                <h4 class="text-center fw-semibold">Video Editing</h4>
                <p class="text-center"> <strong> Video editing</strong>is the manipulation and arrangement of video shots. Video editing is used to structure and present all video information, including films and television shows, and video advertisements.</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <img src="../Image/cat.jpg" alt="">
            </div>
            <div class="row">
                <h4 class="text-center fw-semibold">Graphics Designing</h4>
                <p class="text-center">Graphic design is <strong>a craft where professionals create visual content to communicate messages.</strong>By applying visual hierarchy and page layout techniques, designers use typography and pictures to meet users’ specific needs and focus on the logic of displaying elements in interactive designs, to optimize the user experience.</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <img src="../Image/internet.jpg" alt="">
            </div>
            <div class="row">
                <h4 class="text-center fw-semibold">Web Development</h4>
                <p class="text-center"><strong>Web development </strong>refers to the building, creating, and maintaining of websites. It includes aspects such as web design, web publishing, web programming, and database management. It is the creation of an application that works over the internet i.e.websites.</p>
            </div>
        </div>
    </div>
</div>