<div class="container mt-5">
    <div class="row">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7234.759727607454!2d84.0153816!3d24.9531874!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x398db0b5273618d3%3A0x219894ae50178f37!2sCG%20ASTRA%20School%20of%203D%20animation%20and%20VFX!5e0!3m2!1sen!2sin!4v1677541449634!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>