<div class="container mt-5" id="reviews">
    <div class="row">
<h2 class="text-center">
    Get a Dazzling Career with Industry Training based curriculum
</h2>
<p class="text-center"><strong>Animation is a satisfying and lucrative profession</strong>and is attracting youngsters in droves towards it. Professionals new to this industry generally work in the capacity of junior animators in animation studios and production houses. The starting pay package of these animators can be in a range or Rs. 20,000 to Rs. 30000 per month and there is no limit of income in this industry.</p>
    </div>
</div>


