
            <form action="/admin" method="post">
            <div class="col-md-6">
             <div class="row">
            <div class="col-md-6">
                <div class="row">
                <label for="firstname">
                    <div class="row">
                  First Name
                 <input type="text" name="firstname" id="firstname" required>
                    </div>
                </label>
                    </div>
                </div>
            <div class="col-md-6">
                <div class="row">
                <label for="lastname">
                    <dir class="row ms-3">
                Last Name
                 <input type="text" name="lastname" id="lastname" required>
                    </dir>
                   
                </label>
                    </div>
                </div>
                <div class="row">
                    <label for="mobileno">
                        <div class="row">
                    Moblie
                     <input type="text" name="mobileno" id="mobileno" required>
                        </div>
                    </label>
                </div>
                <div class="row">
                    <label for="emailid">
                        <div class="row">
                    Email 
                     <input type="email" name="emailid" id="emailid" required>
                        </div>
                    </label>
                </div>
                <div class="row">
                    <label for="password">
                    <div class="row">
                       Password
                        <input type="password" name="password" id="password" required>
                        </div>
                    </label>
                </div>
               <button class="mt-4 submit" type="submit">Submit here</button>
             
             </div>
             </div>
            
            
            
            
            </form>
         </div>

        </div>
    </div>
</div>